body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h1 {
    color: #333;
    margin-bottom: 10px;
}
p {
    color: #555;
    max-width: 400px;
    text-align: center;
}
.SearchButton {
    background-color: #0f62fe;
    color: white;
    border-radius: 100%;
    border: none;
}